.plaidlinkbtn{
    margin-left: 40vw;
    background-color: orange;
}
.plaidlinkbtn:hover{
    margin-left: 40vw;
    background-color: blue;
}

.toastHeight{
    max-height: 100px;
}
.toast{
    color: snow;
}